In [1]:
# importing dependencis
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
# Data collection and Analysis
diabetes_df = pd.read_csv('diabetes.csv')
diabetes_df.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
# above data shows only for females and outcome tells us if the female is diabetic or not
diabetes_df.shape

(768, 9)

In [4]:
# getting the statistical measures of the data
diabetes_df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [5]:
diabetes_df["Outcome"].value_counts()
# non diabetic->0
# diabetic->1

0    500
1    268
Name: Outcome, dtype: int64

In [6]:
new_df = diabetes_df.groupby("Outcome")
new_df.get_group(0)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,0,26.6,0.351,31,0
3,1,89,66,23,94,28.1,0.167,21,0
5,5,116,74,0,0,25.6,0.201,30,0
7,10,115,0,0,0,35.3,0.134,29,0
10,4,110,92,0,0,37.6,0.191,30,0
...,...,...,...,...,...,...,...,...,...
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
767,1,93,70,31,0,30.4,0.315,23,0

In [7]:
# now we will differentiate using above data btw diabetic and non diabetic
new_df.mean()
# as we can see below that the female with diabetes as on average increased level of all columns

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [8]:
# seprating the data and the labels
# here Outcome column is a label
X = diabetes_df.drop(columns = "Outcome", axis = 1)
Y = diabetes_df["Outcome"]

In [9]:
# DATA STANDARDIZATION
scaler = StandardScaler()
scaler.fit(X)

StandardScaler()

In [10]:
standardized_data = scaler.transform(X)  # standardized_data is formed in the range from -1 to 1
# which helps the model for better prediction

In [11]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [12]:
# we scaled the X data for easy prediction and control the range
X = standardized_data
print(X)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [13]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [14]:
#TRAIN AND TEST SPLIT
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify=Y, random_state = 2)
print(X.shape, X_train.shape, X_test.shape)
# here 768 are the total rows out of which
# 20% of 768 or 154 is used for testing
# 614 which is left used for training the model

(768, 8) (614, 8) (154, 8)

In [39]:
# TRAINING THE MODEL
# loading our classifier svm
classifier = svm.SVC(kernel = "linear", probability=True)

In [40]:
# training the support vector machine classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear', probability=True)

In [41]:
# MODEL EVALUATION
# accuracy score of the training data on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [42]:
print("Accuracy score of training data : ", training_data_accuracy)

Accuracy score of training data :  0.7866449511400652

In [43]:
# Now accuracy score on our test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [44]:
print("Accuracy score of the Test data : ",test_data_accuracy)

Accuracy score of the Test data :  0.7727272727272727

In [45]:
# Now we have made the system then we will insert the data by ourself and
# test weather system is accurate or not
input_data = (4 , 110,92,0,0,37.6,0.191,30)
# changing the input data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

# standardized the input data
std_data = scaler.transform(input_data_reshaped)

prediction = classifier.predict(std_data)
print(prediction)
classifier.predict_proba(std_data)
# so we can see that it shows that the person is not diabetic according to given data

[0]

array([[0.765843, 0.234157]])

In [22]:
# using logistic regression instead of svm
from sklearn.linear_model import LogisticRegression

In [23]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [37]:
accuracy = clf.score(X_test, Y_test)
input_data = (4 , 110,92,0,0,37.6,0.191,30)
input_data = np.array(input_data)
input_data = input_data.reshape(1, -1)
std_input_data = scaler.transform(input_data)
clf.predict_proba(std_input_data)

array([[0.78650066, 0.21349934]])